/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'IBM Plex Sans', sans-serif;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	@apply selection:bg-fuchsia-300 selection:text-fuchsia-900;
}

.title {
	@apply bg-gradient-to-r from-primary to-secondary bg-clip-text pb-1 text-left text-4xl font-extrabold italic leading-10 text-transparent;
}

.contenedor {
	@apply container mx-auto px-5 sm:py-4 md:px-6 md:py-12 lg:px-4 xl:px-32;
}

h2 {
	@apply mb-8 text-3xl font-extrabold text-neutral-content;
}

.paragraph {
	@apply prose text-left text-lg leading-relaxed;
}
u {
	@apply underline decoration-secondary decoration-wavy decoration-1 underline-offset-4;
}
p > a,
li > a {
	@apply text-secondary decoration-cyan-500
	decoration-solid
	decoration-2
	hover:text-primary
	hover:decoration-primary
	hover:decoration-wavy
	hover:decoration-1;
}

.lectura {
	@apply prose-lg prose text-left prose-h3:text-4xl prose-a:text-secondary prose-a:decoration-cyan-500
	prose-a:decoration-solid
	prose-a:decoration-2;
}
